In [1]:
print("epale mundo 2")

epale mundo 2

### Python
* Variables
* Sintaxis 
    - Tipos de errores
* Operadores matemáticos básicos
* Operadores de comparación
* Operadores lógicos
* Condicionales 
    - simples
    - Anidados
    - Encadenados
* Ciclos
    - finitos
    - infinitos
* Funciones
* Estructuras de datos
    - Cadenas de caracteres
    - Enteros
    - Flotantes
    - Listas
    - Diccionarios
    - Tuplas

In [2]:
# variables
# minuscula
name = "josefino"
apellido = 'primero'

In [3]:
last_name = 'primero'
LastName = 'primero'

last-name = 'primero'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1610165941.py, line 4)

In [11]:
last.name = "primero"

NameError: name 'last' is not defined

In [ ]:
name = 'josefino'

In [12]:
last-name = 'josewfino'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3338274558.py, line 1)

In [13]:
Last_name = 'josefino'

In [14]:
last_name

'primero'

In [26]:
# OPERADORES MATEMATICOS
number_1 = 10
number_2 = 20

# suma
sum_two = number_1 + number_2
print("Suma:", sum_two)

# resta
resta = number_1 - number_2
print("Resta:", resta)

# multiplicación

multi = number_1 * number_2
print("Multiplicación:", multi)

# división 
div = number_1 / number_2
print("División:", div )

Suma: 30
Resta: -10
Multiplicación: 200
División: 0.5

In [34]:
# OPERADORES MATEMATICOS
number_1 = input( "Ingrese el primer número: " )
number_1 = float(number_1)

number_2 = input( "Ingrese el segundo número: " )
number_2 = float(number_2)

# resta
resta = number_1 - number_2
print("Resta:", resta)

# multiplicación

multi = number_1 * number_2
print("Multiplicación:", multi)

# división 
div = number_1 / number_2
print("División:", div )

# suma
sum_two = number_1 + number_2
print("Suma:", sum_two)

Resta: -11.22
Multiplicación: 255.4915
División: 0.5024390243902439
Suma: 33.88

'1122'

In [33]:
"aa" + "bb"

'aabb'

In [30]:
type(number_1)

str

In [44]:
# condicional
# operadores de comparación
# mayor >
# menor <
# mayor igual >=
# menor igual <=
# igual? ==
# diferente != 

number_1 = int( input("número 1:") )
number_2 = int( input("número 2: "))

if number_1 > number_2:
    print("mayor")
else:
    print("menor")

mayor

In [37]:
2 > 2

False

In [35]:
# OPERADORES MATEMATICOS 


number_1 = float(input( "Ingrese el primer número: " ))

number_2 =  float(input( "Ingrese el segundo número: " ))

operation = input("Seleccione su operación: suma, resta, multi, div")


# resta
resta = number_1 - number_2
print("Resta:", resta)

# multiplicación
multi = number_1 * number_2
print("Multiplicación:", multi)

# división 
div = number_1 / number_2
print("División:", div )

# suma
sum_two = number_1 + number_2
print("Suma:", sum_two)

Resta: -65.88999999999999
Multiplicación: 3380.2076
División: 0.33958103638368253
Suma: 133.65

In [1]:
print("hola mundo")

hola mundo

In [6]:
# OPERADORES MATEMATICOS
# Condicionales encadenados
number_1 = float(input( "Ingrese el primer número: " ))

number_2 =  float(input( "Ingrese el segundo número: " ))

operation = input("Seleccione su operación: suma, resta, multi, div")

if operation == "resta":
    # resta
    resta = number_1 - number_2
    print("Resta:", resta)

elif operation == "multi":
    # multiplicación
    multi = number_1 * number_2
    print("Multiplicación:", multi)

elif operation == "div":
    # división 
    div = number_1 / number_2
    print("División:", div )

elif operation == "suma":
    # suma
    sum_two = number_1 + number_2
    print("Suma:", sum_two)
else:
    print("Condición no válida")

Condición no válida

In [9]:
# Ciclos finitos
# listas
#"cadenas"
#20
#12.33

names = [
    "jose",
    "maria",
    "juan",
    ]

# indice  0 , 1, 2, ...
numbers = [10, 20, 30.5]

In [10]:
print(names)

['jose', 'maria', 'juan']

In [14]:
names[2]
numbers[2]

30.5

In [15]:
numbers[-1]

30.5

In [16]:
numbers[-3]

10

In [17]:
# agregar un elemento en la lista de nombres
names.append("josefino")

In [18]:
names

['jose', 'maria', 'juan', 'josefino']

In [19]:
names.pop(0)

'jose'

In [20]:
names

['maria', 'juan', 'josefino']

In [21]:
names.pop(1)

'juan'

In [22]:
names

['maria', 'josefino']

In [26]:
# incorporo nombres en mi lista
names.append("ruperto")

In [29]:
names

['maria', 'josefino', ['ruperto', 'roberto']]

In [30]:
names.pop(-1)

['ruperto', 'roberto']

In [32]:
names = ['maria', 'josefino', "roberto", "jesus", "juan"]

In [36]:
name_1, name_2 = names[0], names[1]

In [41]:
len(names)

5

In [40]:
# ciclos finitos: for
for n in names:
    print(n)

maria
josefino
roberto
jesus
juan

In [44]:
for n in range(2,7):
    print(n)

2
3
4
5
6

In [45]:
for name in range( len(names) ):
    print(name)

0
1
2
3
4

In [46]:
names

['maria', 'josefino', 'roberto', 'jesus', 'juan']

In [47]:
for name in range( len(names) ):
    print(names[name])

maria
josefino
roberto
jesus
juan

In [48]:
for name in range( len(names) ):
    if names[name] == "juan":
        print("encontre a Juan en la posición", name)

encontre a Juan en la posición 4