In [3]:
print("epale mundo 2")

epale mundo 2

### Python
* Variables
* Sintaxis 
    - Tipos de errores
* Operadores matemáticos básicos
* Operadores de comparación
* Operadores lógicos
* Condicionales 
    - simples
    - Anidados
    - Encadenados
* Ciclos
    - finitos
    - infinitos
* Funciones
* Estructuras de datos
    - Cadenas de caracteres
    - Enteros
    - Flotantes
    - Listas
    - Diccionarios
    - Tuplas

In [6]:
# variables
# minuscula
name = "josefino"
apellido = 'primero'

In [10]:
last_name = 'primero'
LastName = 'primero'

last-name = 'primero'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1610165941.py, line 4)

In [11]:
last.name = "primero"

NameError: name 'last' is not defined

In [ ]:
name = 'josefino'

In [12]:
last-name = 'josewfino'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3338274558.py, line 1)

In [13]:
Last_name = 'josefino'

In [14]:
last_name

'primero'

In [26]:
# OPERADORES MATEMATICOS
number_1 = 10
number_2 = 20

# suma
sum_two = number_1 + number_2
print("Suma:", sum_two)

# resta
resta = number_1 - number_2
print("Resta:", resta)

# multiplicación

multi = number_1 * number_2
print("Multiplicación:", multi)

# división 
div = number_1 / number_2
print("División:", div )

Suma: 30
Resta: -10
Multiplicación: 200
División: 0.5

In [34]:
# OPERADORES MATEMATICOS
number_1 = input( "Ingrese el primer número: " )
number_1 = float(number_1)

number_2 = input( "Ingrese el segundo número: " )
number_2 = float(number_2)

# resta
resta = number_1 - number_2
print("Resta:", resta)

# multiplicación

multi = number_1 * number_2
print("Multiplicación:", multi)

# división 
div = number_1 / number_2
print("División:", div )

# suma
sum_two = number_1 + number_2
print("Suma:", sum_two)

Resta: -11.22
Multiplicación: 255.4915
División: 0.5024390243902439
Suma: 33.88

'1122'

In [33]:
"aa" + "bb"

'aabb'

In [30]:
type(number_1)

str

In [44]:
# condicional
# operadores de comparación
# mayor >
# menor <
# mayor igual >=
# menor igual <=
# igual? ==
# diferente != 

number_1 = int( input("número 1:") )
number_2 = int(input("número 2: "))

if number_1 > number_2:
    print("mayor")
else:
    print("menor")

mayor

In [37]:
2 > 2

False

In [35]:
# OPERADORES MATEMATICOS
number_1 = float(input( "Ingrese el primer número: " ))

number_2 =  float(input( "Ingrese el segundo número: " ))

operation = input("Seleccione su operación: suma, resta, milti, div")


# resta
resta = number_1 - number_2
print("Resta:", resta)

# multiplicación
multi = number_1 * number_2
print("Multiplicación:", multi)

# división 
div = number_1 / number_2
print("División:", div )

# suma
sum_two = number_1 + number_2
print("Suma:", sum_two)

Resta: -65.88999999999999
Multiplicación: 3380.2076
División: 0.33958103638368253
Suma: 133.65